cffi==1.17.1
evdev==1.7.1
numpy==2.1.1
PyAudio==0.2.14
pycparser==2.22
pynput==1.7.7
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
python-xlib==0.33
PyYAML==6.0.2
scipy==1.14.1
setuptools==74.1.2
six==1.16.0
soundfile==0.12.1
webrtcvad==2.0.10
